* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #031814dd;
}

.top-container{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #031814f0;
    color: #deb887b0;
    width: 100%;
    padding: 5px 0;
    @media (max-width: 400px) {
    border-radius: 0 0 30px 30px;
    }
}

@media (max-width: 400px) {
    .top-container > h1, 
    .top-container > h2 {
        font-size: 1.5rem;
    }
}
.middle-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 2;
    padding: 20px;
}
.game-console{
    padding: 10px 20px;
    width: 400px;
    height: 350px;
    border:10px solid #deb88780;
    background-color: #031814d2;
    box-shadow: 10px 10px 5px #03181473;
    color: #deb887b0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    border-radius: 10px;
    @media (max-width: 400px) {
        width: 300px;
        height: 350px;
    }
}
.game-console > #game-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-intro > #game-rule {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.game-console > #winner {
    align-self: center;
    font-weight: bold;
    @media (max-width: 400px) {
        font-size: 0.7rem;
    }
}
.score-container{
    display: flex;
    justify-content: space-between;
}

#start-game, .reset-btn {
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: #deb887b0;
    color: #031814d2;
    font-weight: bold;
    align-self: center;
}
.choice-btn {
    padding: 10px;
    width: max-content;
    border-radius: 10px;
    border: none;
    background-color: #deb887b0;
    color: #031814d2;
    /* align-self: center;  */
}
.choice-btn:hover, #start-game:hover, .reset-btn:hover {
background-color: #031814e4;
color: #deb887b0;
font-weight: bold;
font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
}
footer {
    background-color: #031814f0;
    color: #deb887b0;
    width: 100%;
    text-align: center;
    padding: 20px 50px 20px;
}